.topnav {
    padding: 20px;
    width: 100%;
    background-color: #e0e7fa;
    font-size: 20px;
    color:#6188e4;
}
.navhover:hover{
    background-color: #6188e4 !important;
    color:#e0e7fa !important;

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
    top: 85px;
  min-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Gochi Hand', cursive;
}
