.topnav {
    padding: 20px;
    width: 100%;
    background-color: lightgray;
}

h2 {
    font-family: 'Gochi Hand', cursive;
    font-family: 'Rock Salt', cursive;
    font-family: 'Itim', cursive;
    font-family: 'Walter Turncoat', cursive;
}